
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link href="~/projectFiles/css/employee.css" rel="stylesheet" />
    <div class="wrappers">
        <div id="employee-wrapper">
            <img src="~/projectFiles/img/nouser.png" id="employee-img">
            <span id="employee-name" class="employee-item">Süleyman Barış Eser</span>
            <h6 class="department">Seller Manager</h6>
            <span class="employee-item">Store: <a href="/Store/Home" class="store-name">Kadıköy-SumoElectronics</a></span>
            <div id="employee-description">
                <h4 class="description">Description</h4>
                <hr class="hr">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla odit quisquam quod laboriosam. Officia saepe aliquid ipsam dolor. Voluptas ducimus a tempora natus consequuntur inventore, minus repellat architecto nesciunt molestiae deleniti cumque nihil magnam distinctio iste eaque neque in sit maxime, id pariatur ex. Maxime, numquam, temporibus. Ullam voluptates adipisci assumenda, delectus repudiandae in, tenetur, cum, porro molestias magni dolorem perspiciatis quas. Illo, praesentium, ipsam. Recusandae corrupti fuga ad dicta ratione neque tenetur distinctio, pariatur autem cum. Deserunt laborum dolores expedita, itaque deleniti provident temporibus quia. Quas quaerat ad beatae est iure quae magnam nulla repellendus repellat blanditiis, fugiat, nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, omnis corrupti suscipit totam enim reprehenderit aut! Distinctio possimus ipsa minus, placeat, fuga odio iste saepe harum aperiam reprehenderit mollitia alias tempora repellat dolor quae beatae cupiditate laborum illo asperiores cumque itaque accusamus quod ullam at. Soluta accusamus dolores, unde ducimus iusto quos! Commodi alias cum ipsam sequi iure, nemo in, eligendi harum delectus inventore blanditiis voluptatem. Praesentium nobis iusto placeat! Accusamus in officia, ipsa, animi voluptatibus rerum aliquid fugit architecto reiciendis quia sequi corporis a delectus libero, recusandae esse consequuntur dicta at saepe cum ex unde! Debitis voluptas sint hic.</p>
            </div>
        </div>
    </div>

