
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link href="~/projectFiles/css/store.css" rel="stylesheet" />
    <div class="wrappers">
        <div id="store-info">
            <p class="store-name store-info-item">
                Kadıköy - Sumo Tech
            </p>
            <p class="store-address store-info-item">Xxx mahallesi xxx.sokak x binası karşısı Kadıköy/Istanbul</p>
            <p class="store-number store-info-item"><a href="tel:+905457226673">(+90) 5457226673</a></p>
            <hr class="hr">
            <h4>Employees</h4>
            
                <div id="employees">
                    <div class="employee-card-wrapper">
                        <a href="/Store/Employee">
                            <img src="~/projectFiles/img/nouser.png" class="employee-img">
                        </a>
                            <div class="employee-description">
                                <h5 class="employee-name">Suleyman Barış Eser</h5>
                                <h6 class="department">Seller Manager</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos ratione ab deleniti nisi voluptas maxime eveniet reprehenderit laborum eligendi, illo molestiae, saepe architecto ut quis porro placeat vitae doloribus aut.</p>
                            </div>
                    </div>
                </div>
            

        </div>
    </div>