<link href="~/projectFiles/css/user.css" rel="stylesheet" />
<div class="wrappers">
    <div id="user-form-wrapper">
        <div id="user-info" class="user-element">
            <form action="">
                <h4 class="form-header user-header">User Info</h4>
                <div class="form-element-wrapper">
                    <p>First Name:</p>
                    <input class="form-element" type="text" name="firstName" placeholder="First Name" required>
                    <hr class="hr">
                </div>
                <div class="form-element-wrapper">
                    <p>Last Name:</p>
                    <input class="form-element" type="text" name="LastName" placeholder="Last Name" required>
                    <hr class="hr">
                </div>
                <div class="form-element-wrapper">
                    <p>Email Address:</p>
                    <input class="form-element" type="email" name="email" placeholder="Email Address" required>
                    <hr class="hr">
                </div>
                <div class="form-element-wrapper">
                    <p>Phone Number:</p>
                    <input class="form-element" type="tel" name="phoneNumber" placeholder="Phone Number" required>
                    <hr class="hr">
                </div>
                <div class="form-element-wrapper">
                    <input class="submit" type="submit" value="Update">
                </div>
            </form>
        </div>
        <div id="password-wrapper" class="user-element">
            <h4 class="form-header user-header">Update Password</h4>
            <form action="">
                <div class="form-element-wrapper">
                    <p>Current Password:</p>
                    <input class="form-element" type="password" name="currentPassword" placeholder="Current Password" required>
                    <hr class="hr">
                </div>
                <div class="form-element-wrapper">
                    <p>New Password:</p>
                    <input class="form-element" type="password" name="newPassword" placeholder="New Password" required>
                    <hr class="hr">
                </div>
                <div class="form-element-wrapper">
                    <p>New Password:</p>
                    <input class="form-element" type="password" name="newPasswordValidation" placeholder="New Password" required>
                    <hr class="hr">
                </div>
                <div class="form-element-wrapper">
                    <input class="submit" type="submit" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>
