@using SumoTech.Entity
@model IEnumerable<Item>
@{
    ViewBag.Title = "Electronic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/projectFiles/css/home.css">

<div id="content">
    <div id="content-wrapper" class="wrappers">
        @Html.Partial("_ItemList", Model)
    </div>
</div>