#store-info{
    width: 100%;
}

.store-address{
    font-style: italic;
    color: rgba(255,255,255,.5);
}

#header-wrapper {
    width: 100%;
}

.fa-header {
    width: 50%;
    float: left;
}

#phone-number {
    color: red !important;
    text-decoration: underline !important;
}

.fa-header button {
    width: 100%;
    border: none;
    background-color: transparent;
    transition: .4s;
    padding: .5rem;
    border-radius: .5rem;
    outline: none;
}

    .fa-header button:hover {
        background-color: orange;
        color: black;
    }

.active-btn {
    background-color: red !important;
    color: black;
}

.fa-header button:active {
    background-color: red;
}
.store-number{
    
}
.store-info-item{
    width: 100%;
    display: block;
}

.employee-card-wrapper{
    width: 25%;
    overflow: hidden;
    padding: 1rem;
    float: left;
    padding: 1.2rem;
}

.employee-img{
    border-radius: 50%;
    border-bottom-left-radius: 0;
    overflow: hidden;
    object-fit: cover;
    height: 300px;
    width: 100%;
    background-color: transparent;
    margin-bottom: .3rem;
}

.employee-name{
    color: red;
}